body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: url('../images/background.jpg') no-repeat center center fixed;
  background-size: 100% 100%;
}

.centerColumn {
  background-color: rgba(26, 26, 26, 0.95);
  border-color: azure;
  border-width: 3px;
  border-style: solid;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 20px rgba(13, 13, 13, 0.95);
}

/* .centerDiv {
  text-align: center;
} */

.logo {
  margin: auto;
  width: 180px;
  height: 180px;
  margin-top: 15px;
}

.appName {
  color: #ffffff;
  margin-top: 15px;
}

.messageLogin{
  text-align: center;
  font-size: 20px;
}

.loginInputFields{
  width: 50%;
  margin: 0 auto;
}

.whatIsThisApp{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(13, 13, 13, 1);
  border-width: 1px;
  border-style: solid;
  border-color: azure;
  padding: 50px 100px;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(74, 67, 67, 0.95);
}

.textDownWhatIsThisApp {
  position: relative;
  top: 10px;
}

/* .whatIs {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(13, 13, 13, 1);
  border-width: 1px;
  border-style: solid;
  border-color: azure;
  padding: 50px 100px;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(74, 67, 67, 0.95);
} */

.controlePanel{
  width: 95%;
  margin: 0 auto;
  text-align: center;
  /* background-color: rgba(45, 45, 45, 0.95);
  border-width: 1px;
  border-style: solid;
  border-color: azure;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(74, 67, 67, 0.95); */
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .textDown {
  position: relative;
  top: 10px;
} */

.controlePanelInfo{
  background-color: rgba(0, 0, 0, 0.95);
  border-width: 1px;
  border-style: solid;
  border-radius: 30px;
  width: 75%;
  box-shadow: inset 0 0 20px rgba(124, 123, 123, 0.95);
  box-shadow: 0 0 20px rgba(74, 67, 67, 0.95);
  padding-bottom: 10px;
}

.formHouseInputFields {
  width: 60%;
  margin: 0 auto;
}

#iWant .buttonCustomSize{
  width: 70%;
  margin: 0 auto;
}

/* .information{
  text-align: center;
  background-color: 111111;
  padding: 20px;
  border-radius: 10px;
} */

.inputField{
  background-color: rgb(31, 31, 31);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(253, 253, 253, 0.4);
  margin-top: 5px;
  margin-bottom: 5px;
}

.inputField::placeholder {
  color: rgb(220, 211, 211, 0.8);
}

.registerloginHouseButton {
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(253, 253, 253, 0.4);
  margin-top: 5px;
  margin-bottom: 5px;
}

.button {
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(253, 253, 253, 0.4);
  margin-top: 5px;
  margin-bottom: 5px;
  /* border: 2px solid azure; */
}

.paginationButton {
  margin: 30px 20px 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(253, 253, 253, 0.4);
  color: azure;
}

.currentPageText{
  margin-top: 20px;
}

.bottomPagination{
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 45px;
  width: 50%;
  margin: 0 auto;
}

.inputFieldCoordButton{
  background-color: rgb(31, 31, 31);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(253, 253, 253, 0.4);
  margin-top: 10px;
  margin-bottom: 15px;
}

.buttonSideBySide {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

/* .button .inactiveText {
  color: rgb(26, 26, 26, 0.95);
} */

.activeButtonToggle {
  color: #ffffff;
  font-size: larger;
}

.info{
  text-align: center;
  font-size: 15px;
}

.infoApp {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}

.costum-outline{
  color: rgba(255, 0, 0, 0.527);
}

/* .costum-outlineExit{
  color: rgb(255, 255, 255);
  margin: 0 auto;
  width: 30%;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(253, 253, 253, 0.4);
} */

/* .infoDiv{
  text-align: center;
  background-color: 1f1f1f;
  border-width: 1px;
  border-style: solid;
  border-color: azure;
  padding: 40px;
  border-radius: 10px;
  margin: 10px;
} */

.dot{
  font-size: 50%;
}

.appName2nd{
  color: rgba(255, 0, 0, 0.527);
  font-size: 150%;
}

.hidden{
  display:none;
}

.noBorderButton{
  border:none;
}

.iconHouseCard{
  width: 40%;
  margin: 0 auto;
  margin-bottom: 50px;
}

/* .headerCardHouse{
  width: 95%;
  margin: -50px 0 auto;
} */

.houseDisplay {
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: azure;
  background-color: rgba(13, 13, 13, 0.8);
  padding: 40px 0;
  text-align: center;
  margin: 20px auto 50px;
  box-shadow: inset 0 0 20px rgba(74, 67, 67, 0.95);
  box-sizing: border-box;
  width: 95%;
}


.buttonHouseCard{
  width: 40%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 20px;
}

#map {
  height: 800px;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(74, 67, 67, 0.95);
}

.houseAtributeLogDiv1{
  flex: 1;
  width: 25%;
  align-items: center;
}

.houseAtributeLogDiv2 {
  flex: 4;
  width: 75%;
  margin-bottom: 10px;
  text-align: left;
  align-items: center;
}

.gridCardHouse{
  display: flex;
  align-items: center;
}

.housePhotoCard{
  width: 250px;
  height: 250px;
}

.mapButton{
  width: 40%;
  margin: 30px auto;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(253, 253, 253, 0.4);
  color: azure;
}

.outlineExit{
  color: rgb(255, 255, 255);
  margin: 30px auto;
  width: 30%;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(253, 253, 253, 0.4);
}

.modals{
  border-radius: 30px;
}

#mapImage {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  max-width: 100%;
}

.mapSwitch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  flex-direction: row;
}

.mapSwitch p,
.mapSwitch img {
  margin: 0 10px;
}

#emotionalAppeal p {
  line-height: 40px;
}